<!-- ======= Hero Section ======= -->
<section id="hero">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <div>
          <h1>Definición general</h1>
          <p>Aplicación SPA que lleva registros del clima y
            reporta los diversos cambios climatológicos en los sectores agrícolas
            de las provincias de Entre Ríos, Córdoba y Buenos Aires.</p>

        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/images/hero.png" alt="">
      </div>
    </div>
  </div>

</section>
<!-- End Hero Section -->


<!-- ======= Specs Section ======= -->
<section id="specs">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 ">
        <img src="assets/images/imagen1.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 d-flex flex-column justify-contents-center">
        <div class="content pt-4 pt-lg-0">
          <h2>Especificaciones</h2>
          <p>
            El sistema provee de manera fiel y en tiempo real los datos del clima de las zonas agrícolas de 3
            provincias
            (Entre Ríos, Córdoba, Buenos Aires) y lleva registro de ello.
          </p>
          <ul class="fst-italic">
            <li><i class="bi bi-check-circle"></i> Vistas del mapeo del clima.</li>
            <li><i class="bi bi-check-circle"></i> Reportes con manejo de filtros para generar registro de
              historiales.
            </li>
            <li><i class="bi bi-check-circle"></i> Vistas de alertas en casos de posibles tormentas.</li>
          </ul>
          <p>
            Encuentra el clima de cualquier ciudad por su nombre, código de país o estado y zip/código postal.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Specs Section -->



<!-- ======= Features Section ======= -->

<section id="features">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active mt-2" data-bs-toggle="tab" href="#tab-1">
              <h3>Mapa</h3>
              <p>Mapa interactivo con diferentes capas climáticas.</p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <h3>Alertas</h3>
              <p>Aviso de posibles tormentas según el volumen de precipitación
                en las ciudades de 3 provincias (Buenos Aires, Córdoba, Entre Ríos).</p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <h3>Reportes</h3>
              <p>Registro histórico de los datos del clima.</p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <h3>Buscador</h3>
              <p>Encuentra los datos meteorológicos de mas de 200.000 ciudades en el mundo.</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <figure>
              <img src="./assets/images/map.png" alt="" class="img-fluid">
            </figure>
          </div>
          <div class="tab-pane" id="tab-2">
            <figure>
              <img src="./assets/images/alerts.png" alt="" class="img-fluid">
            </figure>
          </div>
          <div class="tab-pane" id="tab-3">
            <figure>
              <img src="assets/images/reports.png" alt="" class="img-fluid">
            </figure>
          </div>
          <div class="tab-pane" id="tab-4">
            <figure>
              <img src="assets/images/search.png" alt="" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>



<section id="features-mobile">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active mt-2" data-bs-toggle="tab" routerLink="/map">
              <h3>Mapa</h3>
              <p>Mapa interactivo con diferentes capas climáticas.</p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" routerLink="/alert">
              <h3>Alertas</h3>
              <p>Aviso de posibles tormentas según el volumen de precipitación
                en las ciudades de 3 provincias (Buenos Aires, Córdoba, Entre Ríos).</p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" routerLink="/">
              <h3>Reportes</h3>
              <p>Registro histórico de los datos del clima.</p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <h3>Buscador</h3>
              <p>Encuentra los datos meteorológicos de mas de 200.000 ciudades en el mundo.</p>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</section>
<!-- End Features Section -->


<!-- ======= Tools Section ======= -->
<section id="tools">
  <div class="container">

    <div class="section-title">
      <h2>Herramientas</h2>
      <p style="font-size: 16px;">Mediante el uso de llamadas API hacia OpenWeatherMap , se reúnen los datos e
        información suficientes para crear
        nuestra REST API con el uso del framework Loopback.</p>
    </div>

    <div class="row ">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box icon-box-angular">
          <div class="icon"><img src="./assets/icon/angular96.ico" alt="" class="img-fluid"></div>
          <h4 class="title"><a href="https://angular.io/">Angular</a></h4>
          <p class="description">Plataforma de código abierto para construir aplicaciones web de una sola página
            (SPA).
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box icon-box-loopback">
          <div class="icon"><img src="./assets/icon/loopback.ico" alt="" class="img-fluid"></div>
          <h4 class="title"><a href="https://loopback.io/">Loopback 4</a></h4>
          <p class="description">Framework de Node.js, permite crear API y microservicios dese bases de datos a
            servicios SOAP y REST.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box icon-box-mongo">
          <div class="icon"><img src="./assets/icon/mongodb.ico" alt="" class="img-fluid"></div>
          <h4 class="title"><a href="https://www.mongodb.com/">MongoDB</a></h4>
          <p class="description">Base de datos de documentos que ofrece una gran escalabilidad y
            flexibilidad, y un modelo de consultas e indexación avanzado.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box icon-box-pushing">
          <div class="icon"><img src="./assets/icon/pushingbox.ico" alt="" class="img-fluid"></div>
          <h4 class="title"><a href="https://www.pushingbox.com/">PushingBox</a></h4>
          <p class="description">Es una nube que puede enviar notificaciones en tiempo real basadas en llamadas API.
            A partir de una misma solicitud, puedes enviar varias notificaciones como un Push, un Tweet, un Email.</p>
        </div>
      </div>
    </div>


    <div class="row justify-content-md-center" style="margin-top: 10px;">
      <div class="col-md-6 col-lg-3 d-flex justify-content-center mb-5 mb-lg-0">
        <div class="icon-box icon-box-git">
          <div class="icon"><img src="./assets/icon/git.ico" alt="" class="img-fluid"></div>
          <h4 class="title"><a href="https://git-scm.com/">Git</a></h4>
          <p class="description">Es un sistema de control de versiones distribuido,
            gratuito y de código abierto diseñado para manejar todo con rapidez y eficiencia,
            desde proyectos pequeños hasta proyectos muy grandes.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex justify-content-center mb-5 mb-lg-0">
        <div class="icon-box icon-box-leaflet">
          <div class="icon"><img src="./assets/icon/leaf2.ico" alt="" class="img-fluid"></div>
          <h4 class="title"><a href="https://leafletjs.com/">Leaflet</a></h4>
          <p class="description">Leaflet es una biblioteca JavaScript de código abierto que permite crear mapas
            interactivos en la web.</p>
        </div>
      </div>


    </div>

  </div>

</section>

<!-- End tools Section -->


<app-footer></app-footer>
