<section id="content">
  <div *ngIf="weather ">
    <header class="container bg-secondary mt-3 rounded-3">
      <h1 id="cardtitle">Pronóstico para {{weather.name}}, {{weather.sys.country}}</h1>
    </header>


    <div class="wrap">
      <div class="container py-2">

        <article class="postcard light orange">
          <figure class="postcard-img-link">
            <img *ngIf="(weather.weather[0].icon) == ('50d')" src="./assets/icon/Mist.png" alt="ICONO"
              class="postcard-img">

            <img *ngIf="(weather.weather[0].icon) == ('01d')" src="./assets/icon/Sun.png" alt="ICONO"
              class="postcard-img">

            <img *ngIf="(weather.weather[0].icon) == ('01n')" src="./assets/icon/Night.png" alt="ICONO"
              class="postcard-img">

            <img *ngIf="(weather.weather[0].icon) == ('02d')" src="./assets/icon/SunCloudy.png" alt="ICONO"
              class="postcard-img">
            <img *ngIf="(weather.weather[0].icon) == ('02n')" src="./assets/icon/NightCloudy.png" alt="ICONO"
              class="postcard-img">
            <img *ngIf="(weather.weather[0].icon) == ('03d')" src="./assets/icon/CloudyBroken.png" alt="ICONO"
              class="postcard-img">
            <img *ngIf="(weather.weather[0].icon) == ('03n')" src="./assets/icon/CloudyBroken.png" alt="ICONO"
              class="postcard-img">
            <img *ngIf="(weather.weather[0].icon) == ('04d')" src="./assets/icon/Cloudy.png" alt="ICONO"
              class="postcard-img">

            <img *ngIf="(weather.weather[0].icon) == ('04n')" src="./assets/icon/Cloudy.png" alt="ICONO"
              class="postcard-img">

            <img *ngIf="(weather.weather[0].icon) == ('09d')" src="./assets/icon/CloudyRain.png" alt="ICONO"
              class="postcard-img">
            <img *ngIf="(weather.weather[0].icon) == ('10d')" src="./assets/icon/SunRain.png" alt="ICONO"
              class="postcard-img">

            <img *ngIf="(weather.weather[0].icon) == ('10n')" src="./assets/icon/CloudyRain.png" alt="ICONO"
              class="postcard-img">
            <img *ngIf="(weather.weather[0].icon) == ('11d')" src="./assets/icon/CloudyStorm.png" alt="ICONO"
              class="postcard-img">
            <img *ngIf="(weather.weather[0].icon) == ('013d')" src="./assets/icon/Temperature2.png" alt="ICONO"
              class="postcard-img">
          </figure>

          <div class="postcard-text t-dark">
            <p class="postcard-description"><i>{{weather.weather[0].description}}</i></p>
            <div class="postcard-subtitle small">
              <time datetime="2020-05-25 12:00:00">
                <i class="fa fa-calendar "></i>
                <span class="datenow"> {{weather.dt * 1000 | date: ' EEEE d MMMM, H:mm '}}</span>
              </time>
            </div>
            <div class="postcard-bar"></div>
            <div class="postcard-preview-txt">
              <p [innerHTML]=" weather.text"> </p>
            </div>
            <ul class="postcard-tagbox">
              <li class="tag-item"> <i>{{weather.main.temp}} °C</i></li>
              <li class="tag-item"><i>Hr: {{weather.main.humidity}} %</i></li>
              <li class="tag-item"><i>{{weather.main.pressure}} hpa&nbsp;&#126;&nbsp;</i></li>

            </ul>
          </div>
        </article>


      </div>
    </div>



    <section *ngIf="timeline">

      <div class="container">
        <div class="row">
          <div class="card" *ngFor="let day of timeline">

            <div class="card card-margin">
              <div class="card-header no-border">
                <h5 class="card-title">{{day.dt * 1000| date: 'EEEE '}}</h5>
              </div>
              <div class="card-body pt-0">
                <div class="widget">
                  <div class="widget-title-wrapper">
                    <div class="widget-date-primary">
                      <span class="widget-date-day">{{day.dt *1000 |date: 'd '}}</span>
                      <span class="widget-date-month">{{day.dt *1000 |date: 'MMM'}}</span>
                    </div>
                    <div class="widget-meeting-info">
                      <div class="widget-pro-title">
                        <figure class="img-link">
                          <img *ngIf="(day.weather[0].icon) == ('50d')" src="./assets/icon/Mist.png" alt="ICONO"
                            class="widget-img">

                          <img *ngIf="(day.weather[0].icon) == ('01d')" src="./assets/icon/Sun.png" alt="ICONO"
                            class="widget-img">

                          <img *ngIf="(day.weather[0].icon) == ('01n')" src="./assets/icon/Night.png" alt="ICONO"
                            class="widget-img">

                          <img *ngIf="(day.weather[0].icon) == ('02d')" src="./assets/icon/SunCloudy.png"
                            alt="ICONO" class="widget-img">
                          <img *ngIf="(day.weather[0].icon) == ('02n')" src="./assets/icon/NightCloudy.png"
                            alt="ICONO" class="widget-img">
                          <img *ngIf="(day.weather[0].icon) == ('03d')" src="./assets/icon/CloudyBroken.png"
                            alt="ICONO" class="widget-img">
                          <img *ngIf="(day.weather[0].icon) == ('03n')" src="./assets/icon/CloudyBroken.png"
                            alt="ICONO" class="widget-img">
                          <img *ngIf="(day.weather[0].icon) == ('04d')" src="./assets/icon/Cloudy.png"
                            alt="ICONO" class="widget-img">

                          <img *ngIf="(day.weather[0].icon) == ('04n')" src="./assets/icon/Cloudy.png"
                            alt="ICONO" class="widget-img">

                          <img *ngIf="(day.weather[0].icon) == ('09d')" src="./assets/icon/CloudyRain.png"
                            alt="ICONO" class="widget-img">
                          <img *ngIf="(day.weather[0].icon) == ('10d')" src="./assets/icon/SunRain.png"
                            alt="ICONO" class="widget-img">

                          <img *ngIf="(day.weather[0].icon) == ('10n')" src="./assets/icon/CloudyRain.png"
                            alt="ICONO" class="widget-img">
                          <img *ngIf="(day.weather[0].icon) == ('11d')" src="./assets/icon/CloudyStorm.png"
                            alt="ICONO" class="widget-img">
                          <img *ngIf="(day.weather[0].icon) == ('013d')" src="./assets/icon/Temperature2.png"
                            alt="ICONO" class="widget-img">
                        </figure>


                      </div>
                      <span class="widget-meeting-time"> {{day.weather[0].description}}</span>
                    </div>
                  </div>
                  <ul class="widget-meeting-points">
                    <li class="widget-meeting-item"><span>{{day.temp.min | number:'1.0-0' }}°C /
                        {{day.temp.max | number: '1.0-0'}}°C</span>
                    </li>
                    <li class="widget-meeting-item"><span>Humedad: {{day.humidity}} %</span></li>
                    <li class="widget-meeting-item"><span>Presion: {{day.pressure}} hpa&nbsp;&#126;&nbsp;</span>
                    </li>
                    <li class="widget-meeting-item"><span>
                        {{day.wind_speed}} m/s {{day.wind_cardinal}}
                        <svg class="icon-wind-direction" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000"
                          xml:space="preserve" style="transform:rotate({{day.wind_deg}}deg);">
                          <g fill="#4848a">
                            <path
                              d="M510.5,749.6c-14.9-9.9-38.1-9.9-53.1,1.7l-262,207.3c-14.9,11.6-21.6,6.6-14.9-11.6L474,48.1c5-16.6,14.9-18.2,21.6,0l325,898.7c6.6,16.6-1.7,23.2-14.9,11.6L510.5,749.6z">
                            </path>

                            <path
                              d="M817.2,990c-8.3,0-16.6-3.3-26.5-9.9L497.2,769.5c-5-3.3-18.2-3.3-23.2,0L210.3,976.7c-19.9,16.6-41.5,14.9-51.4,0c-6.6-9.9-8.3-21.6-3.3-38.1L449.1,39.8C459,13.3,477.3,10,483.9,10c6.6,0,24.9,3.3,34.8,29.8l325,898.7c5,14.9,5,28.2-1.7,38.1C837.1,985,827.2,990,817.2,990z M485.6,716.4c14.9,0,28.2,5,39.8,11.6l255.4,182.4L485.6,92.9l-267,814.2l223.9-177.4C454.1,721.4,469,716.4,485.6,716.4z">
                            </path>
                          </g>
                        </svg>
                      </span></li>
                    <li> Sol:
                      <ul>

                        <li class="widget-meeting-item"><span>Salida: {{day.sunrise * 1000 | date:'h:mm'}} AM
                          </span></li>
                        <li class="widget-meeting-item"><span>Puesta: {{day.sunset * 1000 | date:'h:mm'}} PM
                          </span></li>
                      </ul>
                    </li>
                  </ul>

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </section>



  </div>



  <ng-container *ngIf="!weather ">

    <div class="nosearch">
      <section class="container-nosearch">
        <div class="content-nosearch">
          <b>Sin resultados.</b>
          <span> El motor de busqueda es fácil de usar, pruebe lo siguiente:</span>
          <p><u>Para mayor precisión</u>, puede buscar por código postal o código ZIP.</p>
          <p> De lo contrario, coloque el nombre de la ciudad, seguido de una "coma", y 2 letras que identifiquen
            el código del país
            según
            la norma ISO3166.</p>

          <p>Obtendrás todas las ciudades apropiadas para dicho país.</p>
          <p> <b id="remember">RECUERDA;</b> el orden es importante. (Ejemplo, "Barcelona, ES")</p>


        </div>
      </section>
    </div>
  </ng-container>






</section>



<app-footer></app-footer>
